* {
  all: revert;
  font-family: Nunito-Sans;
}

@font-face {
  src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  font-family: Nunito-Sans;
}
.footer {
  height: 200px;
  background: #111111;
  padding-top: 70px;
  color: #fff;
  display: flex;
  padding-left: 400px;
}
.div1 {
  width: 200px;
  font-size: 15px;
  color: #b7b7b7;
  font-weight: 400;
  line-height: 25px;
  margin-right: 100px;
}
.footer-logo {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 25px;
}
.footer-logo2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 25px;
}
.footer-text {
  width: 200px;
  font-size: 15px;
  color: #b7b7b7;
  font-weight: 400;
  line-height: 25px;
  margin-right: 100px;
}
.footer-logo3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 25px;
}
